Package: doom-package
Version: 15.1
Section: contrib/games
Priority: optional
Architecture: all
Depends: fakeroot
Recommends: doom-engine
Installed-Size: 108
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Description: Installer for Doom data files
 Doom requires both a doom-engine and a doom-wad to play. This package
 allows you to generate and install a debian package from your original
 doom data; whether on the original CD-ROM or your filesystem.
 .
 Currently doom-package supports DOOM 2 only.
