Package: quake3-data
Version: 1
Section: non-free/games
Priority: optional
Architecture: all
Recommends: ioquake3
Provides: quake3-data
Installed-Size: 56
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Description: Quake3 commercial data files
 Quake3 requires an engine and game data to play. This package contains
 the commercial data from ID Software's game "Quake 3", and was generated
 using the "make-quake3-package" program from the "games-package" Debian
 package.
