Package: doom2-wad
Version: 7
Section: non-free/games
Priority: optional
Architecture: all
Recommends: doom-engine
Provides: doom-wad
Installed-Size: 56
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Description: IWAD from ID Software's DOOM 2 computer game
 Doom requires both a doom-engine and a doom-wad to play. This package
 contains the IWAD from ID Software's game "DOOM 2", and was
 generated using the "make-wad-package" program from the "doom-package"
 debian package.
