Source: game-data-packager
Section: contrib/games
Priority: optional
Maintainer: Debian Games Team <pkg-games-devel@lists.alioth.debian.org>
Uploaders: Jon Dowland <jmtd@debian.org>
Build-Depends: debhelper (>> 7.0.0), fakeroot, m4
DM-Upload-Allowed: yes
Standards-Version: 3.8.3
Vcs-Git: git://git.debian.org/git/pkg-games/game-data-packager
Vcs-Browser: http://git.debian.org/?p=pkg-games/game-data-packager.git

Depends: fakeroot, unzip | p7zip-full, ${misc:Depends}
Conflicts: doom-package
Replaces: doom-package
Provides: doom-package
Architecture: all
Description: Installer for game data files
 Various games are divided into two logical parts: engine
 and data. Often the engine and data are licenced in
 different ways, such that only one half can be distributed
 in Debian.
 .
 game-data-packager is a tool which builds .deb files for game
 data which cannot be distributed in Debian (such as
 commercial game data).
 .
 At the moment, game-data-packager has support for building debs
 for Doom games (Doom, Doom 2 and Final Doom).
