#!/usr/bin/make -f
# GNU copyright 1997 to 1999 by Joey Hess.

#export DH_VERBOSE=1
VERSION := $(shell dpkg-parsechangelog | grep ^Version | cut -d' ' -f2-)

configure: configure-stamp
configure-stamp:
	dh_testdir
	touch configure-stamp

build: configure-stamp build-stamp
build-stamp:
	dh_testdir
	# we build .debs as that are shipped in the binary
	# package. Insert our changelog into them
	gzip -c9 debian/changelog > doom-wad/usr/share/doc/doom-wad/changelog.gz
	gzip -c9 debian/changelog > doom2-wad/usr/share/doc/doom2-wad/changelog.gz
	cp -p doom-common/doom2.xpm doom2-wad/usr/share/pixmaps
	cp -p doom-common/doom2.xpm doom-wad/usr/share/pixmaps/doom.xpm
	$(MAKE) VERSION=$(VERSION)
	touch build-stamp

clean:
	dh_testdir
	dh_testroot
	rm -f build-stamp configure-stamp
	$(MAKE) clean VERSION=$(VERSION)
	rm -f doom-wad/usr/share/doc/doom-wad/changelog.gz \
		doom2-wad/usr/share/doc/doom2-wad/changelog.gz \
		doom2-wad/usr/share/pixmaps/doom2.xpm \
		doom-wad/usr/share/pixmaps/doom.xpm
	dh_clean

install: build
	dh_testdir
	dh_testroot
	dh_clean -k
	dh_installdirs

binary-arch: build install

binary-indep: build install
	dh_testdir
	dh_testroot
	dh_installdocs -XTODO
	dh_installmenu
	dh_installman
	dh_installchangelogs 
	dh_install
	dh_compress
	dh_installdeb
	dh_gencontrol
	dh_md5sums
	dh_builddeb

binary: binary-indep binary-arch
.PHONY: build clean binary-indep binary-arch binary install configure
